<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>SHOPI</title>
    <style>
   body {
    background: #424242;
    color: #F5DA81;
   }
   A {
    color: #DF7401; /* Цвет текста */
   /* background: #D8D8D8;*/ /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
   }

    </style>
</head>
<body onscroll="yes">
<h3 style="text-align: center; font-size: 90%;
     "> What is SHOPI ?</h3>


<p style="text-align: center;"><img src="photos\1ph.jpg" alt="photo" width="263" height="535" style="float: left;" hspace="100"/>
    &nbsp;  </p>
<p style="text-align: left; color: #ebdeff; font-size: 90% "> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p>&nbsp;   </p>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Click<a href="/"> START </a> to use web version </h3>

<p style="text-align: center;"> FUNCTIONS: </p>
<p style="text-align: center;"><img src="photos\4ph.jpg" alt="photo" width="263" height="535" style="float: left;" hspace="100"/>
    &nbsp;  </p>
<p style="text-align: left; color: #ebdeff; "> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; ds fsd fsd fds fds sdf ds f</p>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Click <a href="/"> HERE </a>to download the apk file </h3>
<p style="text-align: left;"> &nbsp; &nbsp; &nbsp; &nbsp; </p>
<style>
   body {
    color: #F5DA81;
   }

</style>
</body>
</html>