<!DOCTYPE html>
<html>

<head>
    <title>Spring Security Example </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
</head>
<body>
<style>
  body {
    background: #424242;
    color: #f3f3ec;
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 95%;
   }
   p {
   font-size: 14px
   }
  </style>
<!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
<p>       </p>
<form action="/login" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password:  <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>