<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="photos/logoshopinew2.png">
    <title>SHOPI</title>
    <style>
 body {
    background: #424242;
    color: #f3f3ec;
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 95%;
   }
   p {
   font-size: 14px
   }
  </style>

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<p>Welcome to SHOPI</p>
<div id="app" ></div>

<script src="/js/main.js"></script>
<p style="text-align: left; "> &nbsp; &nbsp; &nbsp; &nbsp;  </p>
<p>Click <a href="/listAl" style = "text-align: right; color: #93bde6; font-size: 95%">ALARMS</a> to see all overdue products </p>
<p>Click <a href="/list" style = "color: #93bde6; font-size: 95%">SHOPS</a> to see all shops </p>
<p>Click <a href="/" style="color: #fcffdf">HOME</a> to see all information about application </p>
<style>
   body {
    color: #F5DA81;
   }
  </style>
</body>
</html>
