<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reminder</title>
    <style>
   body {
    background: #424242;
    color: #F5DA81;
   }
   A {
    color: #DF7401; /* Цвет текста */
   /* background: #D8D8D8;*/ /* Цвет фона */
    padding: 2px; /* Поля вокруг текста */
   }
  </style>

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<p>Welcome to SHOPI</p>
<div id="shop"></div>

<script src="/js/shop.js"></script>
<p>Click<a href="/"> PRODUCTS </a>for back to products </p>
<style>
   body {
    color: #F5DA81;
   }
  </style>
</body>
</html>
