<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="photos/logoshopinew2.png">
    <title>SHOPI</title>
    <style>
   body {
    font-weight: lighter;
    background: #424242;
    color: #D3D3D3;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 85%;
   }
   A {
    color: #DF7401; /* Цвет текста */
    padding: 2px; /* Поля вокруг текста */
    font-weight: lighter;
   }

  </style>

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body style="text-align: center">

<div style="margin-bottom: 70px; marginTop: 5px"><a href="/listAl" style="color:#CD5C5C; position: absolute; left: 21%; top: 2%; border: 1px solid; border-color: #A4A4A4;  padding: 9px; border-radius: 5px">ALARMS</a>
    <div style="position: absolute; color:#A4A4A4; left: 28%; top: 2%; border: 1px solid; border-color: #A4A4A4;  padding: 9px; border-radius: 5px"> SHOPS </div>
    <a href="/products" style="color:#CD5C5C; position: absolute; left: 34.5%; top: 2%; border: 1px solid; border-color: #A4A4A4;  padding: 9px; border-radius: 5px">PRODUCTS</a>
    <a href="/" style="color: #CD5C5C; position: absolute; left: 43%; top: 2%; border: 1px solid; border-color: #A4A4A4; padding: 9px; border-radius: 5px"> HOME </a>
    <a href="https://www.mapsdirections.info/en/gps-coordinates.html" style="color: #ccffcc; font-size: 95%; position: absolute; left: 64%; top: 3%;" target="_blank">
        GET COORDINATES</a>
</div>
<div style="font-size: 16px; margin-bottom: 20px; color: #B0C4DE">Welcome to SHOPI</div>
<div id="shop" ></div>

<script src="/js/shop.js"></script>

<div style="position: relative; bottom: 1%;top: 25rem; font-size: 12px; color: #808080 "> All rights reserved by Alex Iadvigun </div>

</body>
</html>
